.payment-seats-info {
  position: absolute;
  top: 15vh;
  left: 15vw;
  max-width: 100%;
  color: aliceblue;
  font-size: 25px;
  font-weight: 800;
  text-shadow: black;
}

.seats-info,
.price-info {
  color: rgb(158, 199, 202);
}

.checkout-wrapper {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.result-message {
  line-height: 22px;
  font-size: 1.3rem;
  color: white;
  overflow: hidden;
}

.hidden {
  display: none;
}

.pay-labels {
  color: #b91372;
  display: flex;
  flex-direction: column;
  margin-top: 4vh;
  font-size: 1.2rem;
}

.pay-labels-email {
  color: #b91372;
  display: flex;
  justify-content: flex;
  margin-top: 4vh;
  font-size: 1.2rem;
}

.pay-inputs {
  width: 42.5vw;
  height: 6vh;
  border-radius: 3px;
  font-size: 1.3rem;
  border: 1px solid transparent;
  box-shadow: 0 10px 25px rgba(2, 128, 144, 0.3);
  background-color: rgb(5, 10, 10);
  color: #9595bb;
}

.payment-button {
  margin-top: 10vh;
  width: 42.5vw;
  font-size: 1.3rem;
  cursor: pointer;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 3px;
  padding: 1rem 1rem;
  justify-content: space-between;
  background-image: linear-gradient(75deg, #d387ab 0%, #b279a7 74%);
}
.payment-button:hover {
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
  transition: all 0.2s;
  color: white;
}
.payment-button:disabled {
  background-image: linear-gradient(75deg, #a7788d 0%, #a07d99 74%);
  transition: all 0.2s;
  color: rgb(99, 88, 88);
  cursor: not-allowed;
}
.movieInfo-payment {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 15vh;
}

@media screen and (max-width: 600px) {
  /* .checkout-wrapper {
    width: 90%;
  }

  .pay-form {
    width: 90%;
  } */

  .pay-inputs,
  .pay-labels,
  .payment-button {
    width: 95%;
  }
}
