.movie-details {
  background-color: #2d3436;
  background-image: linear-gradient(360deg, #2d3436 0%, #000000 74%);
  width: 100%;
  padding-bottom: 500px;
  color: white;
  background-size: cover;
  background-position: center center;
}

.youtube-trailer {
  position: absolute;
  top: 0;
  height: 15vh;
  width: 100%;
  margin: 0;
}

.poster-img-wrapper {
  position: absolute;
  top: 37vh;
  left: 15vw;
  width: 100%;
}
@media screen and (max-width: 600px) {
  .poster-img-wrapper {
    left: 1vw;
  }
}
.poster-shadow {
  position: sticky;
  margin-top: -48.5vh;
  height: 50vh;

  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(43, 41, 42, 0.61),
    black
  );
}
.poster-img {
  /* position: absolute;
  top: 1vh;
  left: 1vw; */
  border-radius: 5px;
  box-shadow: 0px 0px 21px 4px black;
}
.title-genres-duration {
  position: absolute;
  top: 15vh;
  left: 200px;
  width: 100%;
  color: aliceblue;
  font-size: 25px;
  font-weight: 800;
  -webkit-text-stroke: 0.5px rgba(6, 25, 27, 0.7);
  text-shadow: black;
}
@media screen and (max-width: 600px) {
  .title-genres-duration {
    top: -29vh;
    left: 9vw;
    text-shadow: rgb(20, 18, 7) 1px 0 10px;
  }
}
.genres {
  color: rgb(237, 241, 243);
  font-size: 15px;
  font-weight: 800;
}
.duration {
  color: rgb(253, 241, 253);
  font-size: 15px;
  font-weight: 600;
  color: grey;
}
.year {
  color: rgb(253, 241, 253);
  font-size: 15px;
  font-weight: 600;
  color: grey;
}
.playpause {
  position: absolute;
  top: 85vh;
  left: 60vw;
}
label {
  display: block;
  box-sizing: border-box;
  width: 0;
  height: 45px;
  border-color: transparent transparent transparent #b91372;
  transition: 100ms all ease;
  cursor: pointer;
  border-style: solid;
  border-width: 27px 0 27px 40px;
}
input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}
input:checked + label {
  border-style: double;
  border-width: 0px 0 0px 40px;
}
input:focus + label {
  box-shadow: 0 0 5px lightblue;
  border-radius: 8px;
}
.overview {
  padding: 8vh 20vw;
  width: 40%;
}
@media screen and (max-width: 600px) {
  .overview {
    padding: 20vh 0;
    width: 50%;
  }
  .playpause {
    position: absolute;
    top: 105vh;
    left: 60vw;
  }
}
