.cinema-wrapper {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 1vh;
  left: 100px;
  width: 80%;
  max-width: 100%;
  color: aliceblue;
  text-shadow: black;
}

.title-hall,
.title-seats,
.time-seats,
.selected-seats-title,
.pay-button {
  font-size: 20px;
}

.cinema-seats-movie {
  position: absolute;
  left: 5vw;
  top: 10vh;
  border-radius: 4px;
  max-width: 100%;
}

.img-seats {
  border-radius: 4px;
}

.title-seats {
  margin: 2px;
}

.time-seats {
  margin: 5px;
  color: #b91372;
}

.cinema-seats-hall {
  position: absolute;
  left: 35vw;
  top: 7vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

.screen {
  background-color: #fff;
  height: 15vh;
  width: 90%;
  transform: rotateX(-45deg);
  box-shadow: 0px 13px 15px 16px rgba(255, 255, 255, 0.92);
}

.title-hall {
  color: #b91372;
}

.cinema-hall-wrapper {
  width: 260px;
  height: 260px;
  display: flex;
  flex-flow: row wrap;
}

.selected-seats-title {
  margin: 0;
}

.seat-item {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.selected-seats-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 90%;
}

.seat {
  font-size: 20px;
  margin: 0;
  color: black;
}

.pay-button {
  cursor: pointer;
  outline: none;
  border: none;
  font-weight: 700;
  width: 20vw;
  border-radius: 3px;
  padding: 1rem 1rem;
  margin-top: 30px;
  background-image: linear-gradient(75deg, #d387ab 0%, #b279a7 74%);
}

.pay-button:hover {
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
  transition: all 0.2s;
  color: white;
}

.pay-button:disabled {
  background-image: linear-gradient(75deg, #a7788d 0%, #a07d99 74%);
  transition: all 0.2s;
  color: rgb(99, 88, 88);
  cursor: not-allowed;
}

@media screen and (min-width: 2000px) {
  .cinema-wrapper {
    left: 10vw;
  }
  .title-hall,
  .title-seats,
  .time-seats,
  .selected-seats-title,
  .pay-button {
    font-size: 2vh;
  }
  .selected-seats-title {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1400px) {
  .cinema-wrapper {
    left: 5vw;
    top: 5vh;
  }
  .cinema-seats-movie {
    left: 0;
    top: 7vh;
  }
  .cinema-seats-hall {
    left: 25vw;
    width: 50vw;
  }
  .pay-button {
    width: 20vw;
    margin-top: 15px;
  }
  .screen {
    width: 50%;
    height: 10vh;
  }
  .title-hall {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 900px) {
  .cinema-wrapper {
    left: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .cinema-seats-movie {
    left: 0;
    top: 70vh;
  }
  .cinema-seats-hall {
    left: 7vw;
    width: 90vw;
  }
  .pay-button {
    width: 80vw;
    margin-top: 5px;
  }
  .screen {
    width: 80%;
    height: 7vh;
  }
  .title-hall {
    margin-bottom: 2px;
  }
  .img-seats {
    margin-left: 15vw;
  }
}

@media screen and (max-width: 600px) {
  .cinema-wrapper {
    left: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .cinema-seats-movie {
    left: 0;
    top: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .cinema-seats-hall {
    left: 7vw;
    width: 90vw;
  }
  .pay-button {
    width: 80vw;
    margin-top: 5px;
  }
  .screen {
    width: 80%;
    height: 7vh;
  }
  .title-hall {
    margin-bottom: 2px;
  }
}
