.booking-wrapper {
  margin: auto;
  width: 90%;
  height: 100vh;
  /* object-fit: contain;
  display: flex; */
}
.cinema-hall-wrapper {
  margin: auto;
  width: 250px;
  height: 35vh;
  display: flex;
  /* flex-direction: row; */
  /* align-items: center; */
  padding-top: 50px;
  flex-flow: row wrap;
}
.screen {
  background-color: #fff;
  height: 15vh;
  width: 34%;
  margin: auto;
  transform: rotateX(-45deg);
  align-items: center;
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}
.seat-item {
  width: 25px;
  height: 25px;
  /* background: no-repeat center center; */
  /* background-size: cover; */
  /* margin-left: 24px; */
  cursor: pointer;
}
