.banner {
  color: white;
  object-fit: contain;
  height: 70vh;
  padding-bottom: 5vh;
}

.banner_contents {
  margin-left: 3vw;
  padding-top: 15vh;
  height: 10vh;
  max-height: 15vh;
}

.banner_title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 1.5rem;
  -webkit-text-stroke: 0.5px rgba(5, 84, 94, 0.7);
  min-width: 45vw;
  max-height: 20vh;
}

.banner_description {
  width: 45rem;
  line-height: 1rem;
  padding-top: 5vh;
  padding-bottom: 5vh;
  font-size: 2vh;
  max-width: 60vw;
  height: 4vh;
  max-height: 5vh;
  -webkit-text-stroke: 0.5px rgba(5, 84, 94, 0.7);
  object-fit: contain;
}
.banner_button {
  cursor: pointer;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 3px;
  padding: 1rem 3rem;
  margin: 0.5rem;
  background-image: linear-gradient(75deg, #d387ab 0%, #b279a7 74%);
}

.banner_button:hover {
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
  transition: all 0.2s;
  color: white;
}

.banner_shadow {
  height: 50vh;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(41, 42, 43, 0.61),
    black
  );
}
