.movie-row-wrapper {
  color: white;
  margin: 4vw 2vw 0 2vw;
}
.movie-row {
  object-fit: contain;
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  width: 100%;
  padding: 15px;
  /* flex-flow: row wrap; */
}
.movie-row::-webkit-scrollbar {
  display: none;
}

.rec.rec-arrow {
  border-radius: 30%;
  color: whitesmoke;
  background-color: black;
}
.rec.rec-arrow:hover {
  border-radius: 50%;
}
.rec.rec-arrow:disabled {
  visibility: hidden;
}
.rec.rec-arrow:focus {
  background-color: goldenrod;
}
button.rec-dot {
  /* background-color: rgb(24, 21, 21);
  box-shadow: 0 0 1px 3px grey; */
  box-shadow: 0 0 1px 1px grey;
}
