.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  height: 3vh;
  z-index: 1;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav-black {
  background-color: rgba(0, 0, 0, 0.6);
}

.logo {
  position: fixed;
  left: 20px;
  width: 80px;
  object-fit: contain;
  color: white;
  font-weight: 800;
  font-size: 4vh;
  text-shadow: 0 0 10px black, 0 0 20px plum, 0 0 30px plum;
}

.switch-lang-div {
  position: fixed;
  right: 5vw;
  max-width: 20%;
  object-fit: contain;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.switch-lang-buttons {
  background-color: transparent;
  color: white;
  border-color: transparent;

  font-weight: 600;
  font-size: 1.1rem;
}

@media screen and (max-width: 600px) {
  .switch-lang-div {
    right: 35vw;
    top: 3.3vh;
  }
}
