.seat {
  height: 50px;
  width: 50px;
  border: 5px solid darkolivegreen;
  border-radius: 8px;
  margin: 12px;
  font-size: 12px bold;
  color: black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
